<!DOCTYPE html>
{% load static %}
<html lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Edvi - Education HTML Template" >
        <meta name="description" content="Edvi - Education HTML Template">
        <meta name="author" content="Barat Hadian">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <!-- Fontawsome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}" />
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- RTL CSS -->
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}" />

    <title>Edvi - قالب HTML ادوی , پوسته سایت آموزش تحصیلی مدرسه و مهد کودک</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="{% static 'images/logo1.png' %}" alt="logo" />
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'images/logo1.png' %}" alt="logo" />
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link active">خانه</a>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">درباره ما</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">کلاس ها</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="classes.html" class="nav-link">کلاس ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="special-class.html" class="nav-link">دوره های ویژه</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-class.html" class="nav-link">جزئیات دوره ها</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">رویدادها</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="events.html" class="nav-link">رویدادها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-events.html" class="nav-link">جزئیات رویدادها</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">اخبار</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="news.html" class="nav-link">اخبار وبلاگ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-news.html" class="nav-link">جزئیات اخبار</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">مربیان</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="teachers.html" class="nav-link">مربی ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-teacher.html" class="nav-link">جزئیات مربیان</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">صفحات</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="admission.html" class="nav-link">پذیرش</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">قیمت ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="gallery.html" class="nav-link">گالری</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">مشتریان</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="signup.html" class="nav-link">عضویت</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="signin.html" class="nav-link">ورود</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">خطای 404</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">سوالات متداول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms&condition.html" class="nav-link">قوانین و ضوابط</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privecy.html" class="nav-link">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Slider area -->
    <section class="slider-area">
        <div class="home-slider owl-carousel owl-theme">
            <div class="single-slider single-slider-bg-1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <div class="slider-tittle one">
                                        <h1>
                                            ما بر رشد فرزندان <span>شما متمرکز می شویم</span>
                                        </h1>
                                        <p>
                                            علاوه بر این مدارس اصلی ، دانش آموزان یک کشور خاص ممکن است در مدارس قبل و بعد از ابتدایی در دوره متوسطه و متوسطه نیز در آموزش ما شرکت کنند.
                                        </p>
                                    </div>
                                    <div class="slider-btn bnt1 text-center">
                                        <a href="admission.html" class="box-btn">پذیرش کن</a>
                                        <a href="special-class.html" class="border-btn">مشاهده دوره ها</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider single-slider-bg-2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <div class="slider-tittle two">
                                        <h1>
                                            ما بر رشد فرزندان <span>شما متمرکز می شویم</span>
                                        </h1>
                                        <p>
                                            علاوه بر این مدارس اصلی ، دانش آموزان یک کشور خاص ممکن است در مدارس قبل و بعد از ابتدایی در دوره متوسطه و متوسطه نیز در آموزش ما شرکت کنند.
                                        </p>
                                    </div>
                                    <div class="slider-btn bnt2">
                                        <a href="admission.html" class="box-btn">پذیرش</a>
                                        <a href="special-class.html" class="border-btn">مشاهده دوره ها</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider aera -->

    <!-- Service area -->
    <section class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="service-content">
                            <h2>ساعت کاری</h2>
                            <p>یکشنبه - پنجشنبه : 10:00صبح - 06:00عصر</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <i class="flaticon-pin"></i>
                        </div>
                        <div class="service-content">
                            <h2>آدرس</h2>
                            <p>ایران ، استان تهران ، میدان آزادی ، خیابان 9</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="single-service text-center sst-10">
                        <div class="service-icon">
                            <i class="flaticon-telephone"></i>
                        </div>
                        <div class="service-content">
                            <h2>تلفن</h2>
                            <p>021-12345678</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Service area -->

    <div class="shape-ellips">
        <img src="{% static 'images/shape.png' %}" alt="shape" />
    </div>

    <!-- Regular Course area  -->

    <section class="home-ragular-course pb-100">
        <div class="container">
            <div class="section-tittle text-center">
                <h2>دوره های منظم ما</h2>
                <p>
                    دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه های پیشرو هستند.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-ragular-course">
                        <div class="course-img">
                            <img src="{% static 'images/courses/img1.png' %}"  alt="ragular" />
                            <h2>کلاس تقویتی</h2>
                        </div>
                        <div class="course-content">
                            <p>
                                کلاس درس یک فضای یادگیری است ، اتاقی که هم کودکان و هم بزرگسالان در آن یاد می گیرند. بخش هایی از آموزش است.
                            </p>
                            <a href="single-class.html" class="border-btn">ادامه خواندن</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-ragular-course">
                        <div class="course-img">
                            <img src="{% static 'images/courses/img2.png"  alt="ragular' %}" />
                            <h2>کلاس تقویتی</h2>
                        </div>
                        <div class="course-content">
                            <p>
                                کلاس درس یک فضای یادگیری است ، اتاقی که هم کودکان و هم بزرگسالان در آن یاد می گیرند. بخش هایی از آموزش است.
                            </p>
                            <a href="single-class.html" class="border-btn">ادامه خواندن</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 sst-10">
                    <div class="single-ragular-course">
                        <div class="course-img">
                            <img src="{% static 'images/courses/img3.png" alt="ragular' %}" />
                            <h2>کلاس تقویتی</h2>
                        </div>
                        <div class="course-content">
                            <p>
                                کلاس درس یک فضای یادگیری است ، اتاقی که هم کودکان و هم بزرگسالان در آن یاد می گیرند. بخش هایی از آموزش است.
                            </p>
                            <a href="single-class.html" class="border-btn">ادامه خواندن</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Regular Course area  -->

    <!-- Choose area  -->
    <section class="choose-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-0">
                    <div class="home-choose-img">
                        <img src="{% static 'images/choose1.png" alt="choose' %}" />
                    </div>
                </div>

                <div class="col-lg-6 home-choose">
                    <div class="home-choose-content">
                        <div class="section-tittle">
                            <h2>چرا ادوی را انتخاب کنید؟</h2>
                            <p>
                                تئوری انتخاب مدرسه فرض می کند که والدین بازیگرانی منطقی هستند که می توانند اطلاعات خود را جمع آوری و مصرف کنند تا مدرسه ای پیدا کنند که نیازهای فرزندشان مطابقت داشته باشد.
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-5">
                                <ul class="choose-list-left">
                                    <li><i class="flaticon-check-mark"></i>دارای 10 رتبه برتر مدرسه</li>
                                    <li> <i class="flaticon-check-mark"></i>رفتار عالی</li>
                                    <li><i class="flaticon-check-mark"></i>مفید و مهربانی</li>
                                    <li><i class="flaticon-check-mark"></i>یادگیری با سرگرمی</li>
                                    <li><i class="flaticon-check-mark"></i>ایمنی کودکان</li>
                                </ul>
                            </div>
                            <div class="col-lg-8 col-sm-12 col-md-7">
                                <div class="choose-list-home">
                                    <ul>
                                        <li> <i class="flaticon-check-mark"></i>محیط زیست دوستانه</li>
                                        <li> <i class="flaticon-check-mark"></i>غذا و آب سالم</li>
                                        <li> <i class="flaticon-check-mark"></i>مراقبت های بهداشتی با پزشکان معتبر</li>
                                        <li><i class="flaticon-check-mark"></i>زمین بازی بزرگ با پارک کودکان</li>
                                        <li><i class="flaticon-check-mark"></i>سرویس متناسب با راننده با تجربه</li>
                                    </ul>
                                </div>
                            </div>
                            <a href="" class="box-btn">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Choose area -->

    <!-- Admission Area -->
    <section class="home-admission">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-addmission">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="admission-circle">
                                    <h2>پذیرش <span> دوره ها</span></h2>

                                    <div class="admission-shape1">
                                        <img src="{% static 'images/admission/shape1.png" alt="shape' %}" />
                                    </div>
                                    <div class="admission-shape2">
                                        <img src="{% static 'images/admission/shape2.png" alt="shape' %}" />
                                    </div>
                                    <div class="admission-shape3">
                                        <img src="{% static 'images/admission/shape3.png" alt="shape' %}" />
                                    </div>
                                    <div class="admission-shape4">
                                        <img src="{% static 'images/admission/shape4.png' %}" alt="shape" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="admission-content">
                                    <h2>پذیرش ترم بهار 1399 برای کلیه دانش آموزان</h2>
                                    <p>پذیرش بسته خواهد شد 30 دی 1399. زمان باقی مانده:</p>
                                    <ul style="direction: ltr;" class="admission-list">
                                        <li>
                                            <p id="days">21</p>
                                            <span>روز</span>
                                        </li>
                                        <li>
                                            <p id="hours">15</p>
                                            <span>ساعت</span>
                                        </li>
                                        <li>
                                            <p id="minutes">10</p>
                                            <span>دقیقه</span>
                                        </li>
                                        <li>
                                            <p id="seconds">50</p>
                                            <span>ثانیه</span>
                                        </li>
                                    </ul>
                                    <a href="admission.html" class="box-btn">پذیرش کن</a>
                                </div>
                            </div>
                        </div>
                        <span class="loon">
                            <img src="{% static 'images/admission/shape5.png" alt="shape' %}" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Admission Area -->

    <!-- Special Course -->
    <section class="home-special-course">
        <div class="container-fluid">
            <div class="section-tittle text-center">
                <h2>کلاسهای ویژه ما</h2>
                <p>
                    دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه های پیشرو هستند.
                </p>
            </div>

            <div class="home-course-slider owl-carousel owl-theme">
                <div class="single-home-special-course">
                    <div class="course-img">
                        <img src="{% static 'images/courses/img4.png" alt="course' %}" />
                        <div class="course-content">
                            <h2>کلاس نقاشی</h2>
                            <p>
                                دروس نقاشی نوعی دستورالعمل رسمی در نواختن ساز موسیقی یا آواز خواندن است.
                            </p>
                            <a href="single-class.html" class="box-btn">ادامه خواندن</a>
                        </div>
                    </div>
                </div>

                <div class="single-home-special-course">
                    <div class="course-img">
                        <img src="{% static 'images/courses/img5.png" alt="course' %}" />
                        <div class="course-content">
                            <h2>آزمایشگاه علوم</h2>
                            <p>
                                دروس علوم نوعی دستورالعمل رسمی در نواختن ساز موسیقی یا آواز خواندن است.
                            </p>
                            <a href="single-class.html" class="box-btn">ادامه خواندن</a>

                        </div>
                    </div>
                </div>

                <div class="single-home-special-course">
                    <div class="course-img">
                        <img src="{% static 'images/courses/img6.png" alt="course' %}" />
                        <div class="course-content">
                            <h2>کلاس موسیقی</h2>
                            <p>
                                دروس علوم نوعی دستورالعمل رسمی در نواختن ساز موسیقی یا آواز خواندن است.
                            </p>
                            <a href="single-class.html" class="box-btn">ادامه خواندن</a>

                        </div>
                    </div>
                </div>

                <div class="single-home-special-course">
                    <div class="course-img">
                        <img src="{% static 'images/courses/img7.png" alt="course' %}" />
                        <div class="course-content">
                            <h2>کلاس هنر</h2>
                            <p>
                                دروس علوم نوعی دستورالعمل رسمی در نواختن ساز موسیقی یا آواز خواندن است.
                            </p>
                            <a href="single-class.html" class="box-btn">ادامه خواندن</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Special Course -->

    <!-- Course Slider  -->
    <section class="course-slider-area">
        <div class="container">
            <div class="course-slider owl-carousel owl-theme">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="course-slider-img">
                            <img src="{% static 'images/courses/slider-img.png" alt="course' %}" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="course-slider-content">
                            <h2>برنامه فرهنگی 01 مهر 1399</h2>
                            <p>
                                لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.
                            </p>

                            <div class="course-slider-btn">
                                <a href="" class="box-btn">ثبت نام کنید</a>
                                <a href="" class="border-btn">مشاهده رویدادها</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="course-slider-img">
                            <img src="{% static 'images/courses/slider-img2.png" alt="course' %}" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="course-slider-content">
                            <h2>برنامه فرهنگی 01 مهر 1399</h2>
                            <p>
                                لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.
                            </p>

                            <div class="course-slider-btn">
                                <a href="" class="box-btn">ثبت نام کنید</a>
                                <a href="" class="border-btn">مشاهده رویدادها</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Course Slider -->

    <span class="left-shape">
        <img src="{% static 'images/left-shape.png" alt="shape' %}"/>
    </span>

    <!-- News Area -->
    <section class="home-news pb-100 pt-100">
        <div class="container">
            <div class="section-tittle text-center">
                <h2>آخرین اخبار وبلاگ</h2>
                <p>
                    دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه های پیشرو هستند.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-home-news">
                        <a href="single-news.html">
                            <img src="{% static 'images/news/img1.png" alt="news' %}" />
                        </a>

                        <div class="single-home-content">
                            <h2>فوتبال با موفقیت تمام شد</h2>
                            <p class="calender">
                                <i class="flaticon-calendar"></i> تاریخ: 10 دی 1398
                            </p>
                            <p>
                                این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن یک صفحه پریشان می شود.
                            </p>
                            <a href="single-news.html" class="line-bnt">ادامه خواندن <i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-home-news">
                        <a href="single-news.html">
                            <img src="{% static 'images/news/img2.png" alt="news' %}" />
                        </a>

                        <div class="single-home-content">
                            <h2>دارنده نشان برتر سال 1399</h2>
                            <p class="calender">
                                <i class="flaticon-calendar"></i> تاریخ: 10 دی 1398
                            </p>
                            <p>
                                این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن یک صفحه پریشان می شود.
                            </p>
                            <a href="single-news.html" class="line-bnt">ادامه خواندن <i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sst-10">
                    <div class="single-home-news">
                        <a href="single-news.html">
                            <img src="{% static 'images/news/img3.png" alt="news' %}" />
                        </a>

                        <div class="single-home-content">
                            <h2>آموزش در مورد ویروس کووید-19</h2>
                            <p class="calender">
                                <i class="flaticon-calendar"></i> تاریخ: 10 دی 1398
                            </p>
                            <p>
                                این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن یک صفحه پریشان می شود.
                            </p>
                            <a href="single-news.html" class="line-bnt">ادامه خواندن <i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End News Area -->

    <!-- Teachers Area -->
    <section class="home-teachers-area">
        <div class="container">
            <div class="section-tittle text-center">
                <h2>استادان محترم</h2>
                <p>
                    دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه های پیشرو هستند.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'images/teachers/img9.png" alt="teacher' %}" /></a>
                        </div>
                        <div class="teachers-content">
                            <h2>جان دو</h2>
                            <p>دستیار معلم</p>
                        </div>
                        <div class="teacher-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'images/teachers/img8.png" alt="teacher' %}" /></a>
                        </div>
                        <div class="teachers-content">
                            <h2>ایوانا دو</h2>
                            <p>مربی</p>
                        </div>
                        <div class="teacher-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'images/teachers/img3.png" alt="teacher' %}" /></a>
                        </div>
                        <div class="teachers-content">
                            <h2>اسمیت دو</h2>
                            <p>مربی زبان</p>
                        </div>
                        <div class="teacher-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'images/teachers/img12.png" alt="teacher' %}" /></a>

                        </div>
                        <div class="teachers-content">
                            <h2>مارینا دو</h2>
                            <p>مربی هنر</p>
                        </div>
                        <div class="teacher-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="flaticon-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Teachers Area -->

    <!-- Contact Area -->
    <section class="home-contact-area pb-100 pt-100">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-0">
                    <div class="contact-img">
                        <img src="{% static 'images/contact.png" alt="contact' %}" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-contact-content">
                        <h2>با ما تماس بگیرید</h2>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required data-error="نام خود را وارد کنید" placeholder="نام شما" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control" required data-error="ایمیل خود را وارد کنید" placeholder="ایمیل شما" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="phone_number" id="phone_number" required data-error="تلفن خود را وارد کنید" class="form-control" placeholder="تلفن شما" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="موضوع خود را وارد کنید" placeholder="موضوع شما" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="پیام خود را بنویسید" placeholder="پیام شما"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn page-btn box-btn">
                                                ارسال پیام
                                     </button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Area -->

    <!-- Footer Area -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-left">
                        <a href="index.html" class="logo"><img src="{% static 'images/logo2.png' %}" alt="logo" /></a>
                        <p>
                            لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.
                        </p>
                        <ul class="footer-social">
                            <li>
                                <a href="#"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content fml-25">
                        <h2>مدرسه</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> پشتیبانی</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> حرفه</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> مربیان</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> کارمندان</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-content fml-15">
                        <h2>لینکهای سریع</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> کلاس ها</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> دوره ها</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> شرکت ما</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> سوالات متداول</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content fml-15 fml-20">
                        <h2>تماس بگیرید</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> تلفن: 12345678-021</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> فکس: 12345678-021</a>
                            </li>
                            <li>
                                <a href="#">hello@edvi.com <i class="flaticon-left-arrow"></i></a>
                            </li>
                            <li>
                                <a href="#">support@edvi.com <i class="flaticon-left-arrow"></i></a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-left-arrow"></i> ایران ، استان تهران ، میدان آزادی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Copy Area -->
    <div class="copy-area">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="copy">
                        <p>کپی رایت © 1399 ادوی. تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat/?aff=barat" target="_blank">Barat Hadian</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Area -->

    <!-- Scroll top -->
    <a href="#" class="scroll-top wow bounceInDown">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <!-- Js -->
    <script src="{%static 'js/jquery.min.js' %}"></script>
    <!-- Boostrap Js  -->
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <!-- MeanMenu JS -->
    <script src="{%static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Owl carasol Js -->
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <!-- Wow js -->
    <script src="{%static 'js/wow.min.js' %}"></script>
    <!-- Isotope Js -->
    <script src="{%static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- Form Validator Js  -->
    <script src="{%static 'js/form-validator.min.js' %}"></script>
    <!-- Contact Form Js -->
    <script src="{%static 'js/contact-form-script.js' %}"></script>
    <!-- Main js -->
    <script src="{%static 'js/main.js' %}"></script>

</body>

</html>
