<!DOCTYPE html>
{% load static %}
<html lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Edvi - Education HTML Template" >
        <meta name="description" content="Edvi - Education HTML Template">
        <meta name="author" content="Barat Hadian">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <!-- Fontawsome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}" />
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- RTL CSS -->
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}" />

    <title>Edvi - قالب HTML ادوی , پوسته سایت آموزش تحصیلی مدرسه و مهد کودک</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="{% static 'images/logo1.png' %}" alt="logo" />
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'images/logo1.png' %}" alt="logo" />
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Slider area -->
    <section class="slider-area">
        <div class="home-slider owl-carousel owl-theme">
            <div class="single-slider single-slider-bg-1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <div class="slider-tittle one">
                                        <h1>
                                            ما بر رشد فرزندان <span>شما متمرکز می شویم</span>
                                        </h1>
                                        <p>
                                            علاوه بر این مدارس اصلی ، دانش آموزان یک کشور خاص ممکن است در مدارس قبل و بعد از ابتدایی در دوره متوسطه و متوسطه نیز در آموزش ما شرکت کنند.
                                        </p>
                                    </div>
                                    <div class="slider-btn bnt1 text-center">
                                        <a href="{% url 'web:signup' %}" class="box-btn">پذیرش کن</a>
                                        <a href="special-class.html" class="border-btn">مشاهده دوره ها</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider single-slider-bg-2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <div class="slider-tittle two">
                                        <h1>
                                            ما بر رشد فرزندان <span>شما متمرکز می شویم</span>
                                        </h1>
                                        <p>
                                            علاوه بر این مدارس اصلی ، دانش آموزان یک کشور خاص ممکن است در مدارس قبل و بعد از ابتدایی در دوره متوسطه و متوسطه نیز در آموزش ما شرکت کنند.
                                        </p>
                                    </div>
                                    <div class="slider-btn bnt2">
                                        <a href="admission.html" class="box-btn">پذیرش</a>
                                        <a href="special-class.html" class="border-btn">مشاهده دوره ها</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider aera -->

    <!-- Service area -->
    <section class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="service-content">
                            <h2>ساعت کاری</h2>
                            <p>یکشنبه - پنجشنبه : 10:00صبح - 06:00عصر</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <i class="flaticon-pin"></i>
                        </div>
                        <div class="service-content">
                            <h2>آدرس</h2>
                            <p>ایران ، استان تهران ، میدان آزادی ، خیابان 9</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="single-service text-center sst-10">
                        <div class="service-icon">
                            <i class="flaticon-telephone"></i>
                        </div>
                        <div class="service-content">
                            <h2>تلفن</h2>
                            <p>021-12345678</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Service area -->

    <div class="shape-ellips">
        <img src="{% static 'images/shape.png' %}" alt="shape" />
    </div>





    <!-- Admission Area -->
    <section class="home-admission">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-addmission">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="admission-circle">
                                    <h2>پذیرش <span> دوره ها</span></h2>

                                    <div class="admission-shape1">
                                        <img src="{% static 'images/admission/shape1.png' %}" alt="shape" />
                                    </div>
                                    <div class="admission-shape2">
                                        <img src="{% static 'images/admission/shape2.png' %}" alt="shape" />
                                    </div>
                                    <div class="admission-shape3">
                                        <img src="{% static 'images/admission/shape3.png' %}" alt="shape" />
                                    </div>
                                    <div class="admission-shape4">
                                        <img src="{% static 'images/admission/shape4.png' %}" alt="shape" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="admission-content">
                                    <h2>پذیرش ترم بهار 1399 برای کلیه دانش آموزان</h2>
                                    <p>پذیرش بسته خواهد شد 30 دی 1399. زمان باقی مانده:</p>
                                    <ul style="direction: ltr;" class="admission-list">
                                        <li>
                                            <p id="days">21</p>
                                            <span>روز</span>
                                        </li>
                                        <li>
                                            <p id="hours">15</p>
                                            <span>ساعت</span>
                                        </li>
                                        <li>
                                            <p id="minutes">10</p>
                                            <span>دقیقه</span>
                                        </li>
                                        <li>
                                            <p id="seconds">50</p>
                                            <span>ثانیه</span>
                                        </li>
                                    </ul>
                                    <a href="{% url 'web:signup' %}" class="box-btn">پذیرش کن</a>
                                </div>
                            </div>
                        </div>
                        <span class="loon">
                            <img src="{% static 'images/admission/shape5.png' %}" alt="shape" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Admission Area -->





    <span class="left-shape">
        <img src="{% static 'images/left-shape.png" alt="shape' %}"/>
    </span>

    <!-- News Area -->
    <section class="home-news pb-100 pt-100">
        <div class="container">
            <div class="section-tittle text-center">
                <h2>آخرین اخبار وبلاگ</h2>
                <p>
                    دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه های پیشرو هستند.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-home-news">
                        <a href="single-news.html">
                            <img src="{% static 'images/news/img1.png' %}" alt="news" />
                        </a>

                        <div class="single-home-content">
                            <h2>فوتبال با موفقیت تمام شد</h2>
                            <p class="calender">
                                <i class="flaticon-calendar"></i> تاریخ: 10 دی 1398
                            </p>
                            <p>
                                این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن یک صفحه پریشان می شود.
                            </p>
                            <a href="single-news.html" class="line-bnt">ادامه خواندن <i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-home-news">
                        <a href="single-news.html">
                            <img src="{% static 'images/news/img2.png' %}" alt="news" />
                        </a>

                        <div class="single-home-content">
                            <h2>دارنده نشان برتر سال 1399</h2>
                            <p class="calender">
                                <i class="flaticon-calendar"></i> تاریخ: 10 دی 1398
                            </p>
                            <p>
                                این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن یک صفحه پریشان می شود.
                            </p>
                            <a href="single-news.html" class="line-bnt">ادامه خواندن <i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sst-10">
                    <div class="single-home-news">
                        <a href="single-news.html">
                            <img src="{% static 'images/news/img3.png' %}" alt="news" />
                        </a>

                        <div class="single-home-content">
                            <h2>آموزش در مورد ویروس کووید-19</h2>
                            <p class="calender">
                                <i class="flaticon-calendar"></i> تاریخ: 10 دی 1398
                            </p>
                            <p>
                                این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن یک صفحه پریشان می شود.
                            </p>
                            <a href="single-news.html" class="line-bnt">ادامه خواندن <i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End News Area -->




    <!-- Footer Area -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer-left">
                        <a href="index.html" class="logo"><img src="{% static 'images/logo2.png' %}" alt="logo" /></a>
                        <p>
                            لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.
                        </p>
                        <ul class="footer-social">
                            <li>
                                <a href="#"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-content fml-15 fml-20">
                        <h2>تماس بگیرید</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> تلفن: 12345678-021</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> فکس: 12345678-021</a>
                            </li>
                            <li>
                                <a href="#">hello@edvi.com <i class="flaticon-left-arrow"></i></a>
                            </li>
                            <li>
                                <a href="#">support@edvi.com <i class="flaticon-left-arrow"></i></a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-left-arrow"></i> ایران ، استان تهران ، میدان آزادی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Copy Area -->
    <div class="copy-area">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="copy">
                        <p>کپی رایت © 1399 ادوی. تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat/?aff=barat" target="_blank">Barat Hadian</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Area -->

    <!-- Scroll top -->
    <a href="#" class="scroll-top wow bounceInDown">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <!-- Js -->
    <script src="{%static 'js/jquery.min.js' %}"></script>
    <!-- Boostrap Js  -->
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <!-- MeanMenu JS -->
    <script src="{%static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Owl carasol Js -->
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <!-- Wow js -->
    <script src="{%static 'js/wow.min.js' %}"></script>
    <!-- Isotope Js -->
    <script src="{%static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- Form Validator Js  -->
    <script src="{%static 'js/form-validator.min.js' %}"></script>
    <!-- Contact Form Js -->
    <script src="{%static 'js/contact-form-script.js' %}"></script>
    <!-- Main js -->
    <script src="{%static 'js/main.js' %}"></script>

</body>

</html>
