{% extends 'base.html'%}

{% block content %}
 <!-- Start Page Title Area -->
 <div class="banner-area admission">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content"> 
                    <h2>ورود</h2>
                    <ul>
                        <li>
                            <a href="{% url 'web:home' %}"> صفحه اصلی </a>
                            <i class="flaticon-left-arrow"></i>
                            <p class="active">ورود </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<section class="signup-area">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="signup-form">
                    <h2>خوش آمدید!</h2>
                    <form action="{% url 'account:userverify' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" name="code" class="form-control" placeholder="  کد تایید">
                                </div>
                            </div>

                          

                            <div class="form-group">
                                <button type="submit" class="d-block custom-button"><span>  تائید </span></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <!-- <div class="col-lg-6">
                <div class="sign-up-img">
                    <img src="assets/images/signup.svg" alt="singup">
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- End SignUp -->


{%endblock%}

